@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: LoveloBlack;
    src: url(fonts/Lovelo-Black.woff);
}

@font-face {
    font-family: LoveloLineBold;
    src: url(fonts/Lovelo-LineBold.woff);
}

@font-face {
    font-family: LoveloLineLight;
    src: url(fonts/Lovelo-LineLight.woff);
}

@font-face {
    font-family: AlfaSlabOne;
    src: url(fonts/AlfaSlabOne-Regular.ttf);
}

@font-face {
    font-family: LeagueSpartan;
    src:url(fonts/league-spartan.bold.ttf);
}

:root {
    --red: #ff0000;
    --blue: #133987;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: black;
}

p, a {
    font-family:"Bai Jamjuree", sans-serif;
    color: black;
    font-size: 18px;
}

h1 {
    font-family: LeagueSpartan;
}

