@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: LoveloBlack;
    src: url(fonts/Lovelo-Black.woff);
}

@font-face {
    font-family: LoveloLineBold;
    src: url(fonts/Lovelo-LineBold.woff);
}

@font-face {
    font-family: LoveloLineLight;
    src: url(fonts/Lovelo-LineLight.woff);
}

:root {
    /* gradient
 
 /*  */
 --blue: #0D2791;
 --bluestep2: #2D228D;
 --bluestep3: #4D1D89;
 --middle-purple: #6D1886;
 --redstep3: #971A61;
 --redstep2: #C11d3d;
 --red: #EB2019;
    --blue-75: rgba(23, 27, 34, 0);
    --blue-60: rgba(19, 57, 135, 0.6);
    --blue-trans: rgba(13, 39, 145, 0.4);
    --red-trans: rgba(235, 32, 25, 0.4);
    --black-ish: #1a1a1a;
    --lighter-black: #535353;
    --gray: #787878;
    --light-gray: #f2f2f2;
    --opacity: .83;
}

body {
    --background: white;
    --primary-text: var(--black-ish);
    --secondary-text: var(--lighter-black);
    --tertiary-text: var(--gray);
    --nav-text: white;
    --link-text: var(--blue);
    --contact-back: var(--light-gray);
    overflow-x: hidden;
    max-width: 100%;
}

body.dark-mode {
    --background: var(--black-ish);
    --primary-text: white;
    --secondary-text: white;
    --tertiary-text: var(--lighter-black);
    --nav-text: white;
    --link-text: var(--lighter-blue);
    --contact-back: var(--lighter-black);
}


html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--background);
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    color: var(--primary-text);
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 800;
}

h2, h3, h4, h5, h6 {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 300;
    color: var(--primary-text);
}

p, a {
    font-family:"Open Sans", sans-serif;
    color: var(--secondary-text);
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
}

a {
    color: var(--link-text);
}

.blue--text {
    color: var(--blue);
}

.red--text {
    color: var(--red);
}